@font-face {
    font-family: 'Merriweather';
    src: url('/Assets/font/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

/* Reset global */
html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Suppression des styles par défaut */

img, picture, video, canvas, svg {
    max-width: 100%;
}

/* Styles globaux */
body {
    background-color: #F7F6F2;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, nav, a {
    font-family: 'Merriweather', serif;
}

/* Header */
header div {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header div img {
    height: 200px;
}

header div a img {
    height: 30px;
}

header div nav {
    display: flex;
    flex-direction: column;
}

header div nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px 80px;
    transition: all 0.3s ease;
    margin: 15px;
}

header div nav a:hover {
    background-color: hwb(0 20% 80%);
    color: #fff;
    border-color: #000;
}

#orange {
    background-color: #F7F6F2;
    color: #000000;
    border-color: #F7B186;
}

#orange:hover {
    background-color: #F7B186;
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
    margin: 25px 0px 0px 50px;
    display: flex;
}

/* MAIN */

main section {

    margin: 150px 0px 0px 60px;

}



main section ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

main section ul li {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 80px;
    list-style: none;

}

main section ul li img {
    color: #333;
    font-weight: bold;
    border: 2px solid #B5EAD7;
    border-radius: 100%;
    padding: 15px;
}

main section ul li p {
    padding: 30px 0px 30px 0px;
}

a.button {
    text-decoration: none;
    color: #333;
    border: 3px solid #333;
    border-radius: 25px;
    background-color:#F7B186;
    padding: 10px;
    margin: 20px;
}


/* Footer */

footer {
    /* display: flex;
    justify-content: center; */
    
}
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px 80px;
    transition: all 0.3s ease;
    margin: 15px;
}


footer div .logo {
    height: 150px;
}

footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    margin:px ;
}

footer ul {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2px;
}

footer div nav {
    display: flex;
    flex-direction: column;
}

footer nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer nav a:hover {
    background-color: #000000;
    color: #fff;
}

footer .reseau {
    height: 200px;
}

